<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">
  <label for="Name">Landmark Name:</label>
  <br>
  <input type="text" id="landmark_name" name="landmark[name]">
  <br>
  <input type="integer" id="landmark_year_completed" name="landmark[year_completed]">
  <br>

  <input type="submit" value="Create New Landmark">

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
